/* Styling the header */
header {
  background-color: darkblue;
  text-align: center;
  padding: 20px;
  color: white;
}

/* Styling the latest news section */
.latest-news-section {
  background-color: white;
  padding: 20px;
  width: 90%;
  margin: auto;
}

/* Styling the pictorial news section */
.pictorial-news-section {
  background-color: white;
  padding: 20px;
  width: 90%;
  text-align: center;
  border-radius: 10px;
  margin: auto;
}

.pictorial-news-section img {
  margin: 10px;
  width: 150px;
  height: auto;
}
