/* Styling the header */
header {
  background-color: #002933;
  text-align: center;
  padding: 20px 0;
  color: white;
}

/* Styling the latest news section */
.latest-news-section {
  background-color: #f0f0f0;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

/* Styling the pictorial news section */
.pictorial-news-section {
  background-color: #e0f7fa;
  padding: 20px;
  width: 90%;
  text-align: center;
  border-radius: 10px;
  margin: 20px auto;
}

.pictorial-news-section img {
  margin: 10px;
  width: 150px;
  height: auto;
}
